<div id='directory' style="display: none;">
    <ul>
        <li>数据统计</li>
        <li><span id='formInfo'>表格信息</span></li>
            <ul id='formDetial' style="display: none;">
                <li>路测单元</li>
                <li>车辆管理</li>
                <li>信息分发</li>
            </ul>
        <li>模拟平台</li>
    </ul>
</div>

<script>
    //点击表格信息出现下面3个选项
    $("#formInfo").click(function(){
        if($('#formDetial').css('display') == 'none'){
            $('#formDetial').css('display','block');
        }
        else{
            $('#formDetial').css('display','none');
        }
    })
    //
</script>